<form method="post" action="{{ path('condition_pouvoir_partie_delete', {'id': condition_pouvoir_partie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ condition_pouvoir_partie.id) }}">
    <button class="btn">Delete</button>
</form>
