{% extends 'base.html.twig' %}

{% block title %}New ConditionPouvoirPartie{% endblock %}

{% block body %}
    <h1>Create new ConditionPouvoirPartie</h1>

    {{ include('condition_pouvoir_partie/_form.html.twig') }}

    <a href="{{ path('partie_show', {'id': partieCourante.id}) }}">Pas de condition pour ce pouvoir</a>
{% endblock %}
