$bootstrap-sass-asset-helper: true;
//@import './_bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';

$width:33.33%;

body{
  padding-top: 100px!important;
}

h1.ui.header{
  color: #404040;
}

h2.ui.header{
  color: #505050;
}

h3.ui.header{
  color: #606060;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.index-page{
  text-align: center;
}

h1.ui.header{
  margin-bottom: 25px!important;
}

.ui.header:first-child, .ui.header:last-child{
  margin: 0;
}

.ui.cards{
  margin: 20px !important;
  position: relative;
}

.ui.cards{
  .card{
    margin: 0 !important;
    width: $width !important;
    transition: 0.5s;
    &.is-dragged{
      transition: 0s;
      opacity: 0.5;
      z-index: 9000;
      position: absolute;
    }
  }
}

.ui.menu .item > a:not(.ui),
.navbar-nav > li > a,
.menu-sous-item,
.ui.menu.fixed,
.ui.menu.fixed .item:first-child,
.ui.menu.fixed .item:last-child{
  color : 	#A9A9A9 ;
    &:hover {
    color: #008080;
  }
}

.table-parties > tbody > tr > td > a{
  color : #43464b;
    &:hover {
    color: #008080;
  }
}

.navbar-nav > li > a:hover{
  background-color: white;
}

.menu-logo a{
  font-weight: bold;
  font-size: 130%;
}


.main-content {
    margin-top: 80px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.btn-add-acteur {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;

    &:hover,&:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }

}
