$bootstrap-sass-asset-helper: true;
//@import './_bootstrap.scss';
@import '~font-awesome/css/font-awesome.css';

.main-content {
    margin-top: 80px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.btn-add-acteur {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;

    &:hover,&:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }

}
