{% extends 'base.html.twig' %}

{% block title %}Edit PouvoirPartie{% endblock %}

{% block body %}
    <h1>Edit PouvoirPartie</h1>

    {{ include('pouvoir_partie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pouvoir_partie_index') }}">back to list</a>

    {{ include('pouvoir_partie/_delete_form.html.twig') }}
{% endblock %}
