{% extends 'base.html.twig' %}

{% block title %}Partie index{% endblock %}

{% block body %}
  <div id="partie-app">
  </div>
{% endblock %}

{% block javascripts %}

  {{ parent() }}
  <script>
    window.PARTIE_APP_PROPS
  </script>
  <script src="{{ asset('build/liste_partie_react.js') }}"></script>
{% endblock %}
