{% extends 'base.html.twig' %}

{% block title %}Nouvelle partie{% endblock %}

{% block body %}
<div class="ui raised very padded text container segment">
  <h2 class="ui header">Créer une nouvelle partie</h2>
  <div class="ui form">
    <div class="fields">
    {{ include('partie/_form.html.twig') }}
  </div>
</div>
</div>
{% endblock %}
