{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}


{% block leftmenu %}
  <div id="evenements-app">
  </div>
{% endblock %}

{% block body %}
    <div id="cardBoard-app">
    </div>
{% endblock %}

{% block rightmenu %}
  <div id="droitsDevoirs-app">
  </div>
{% endblock %}

{% block javascripts %}

  {{ parent() }}
  </script>
  <script>
    window.PARTIE_APP_PROPS = {{partieAppProps|json_encode|raw}};
  </script>
  <script src="{{ asset('build/partie_react.js') }}"></script>
{% endblock %}
