{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}
        <div id="cardBoard-app">
        </div>
{% endblock %}

{% block javascripts %}

  {{ parent() }}
  <script>
    window.ACTEUR_APP_PROPS = {{acteursAppProps|json_encode|raw}}
  </script>
  <script src="{{ asset('build/partie_react.js') }}"></script>
{% endblock %}
