{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block stylesheets %}
{{ parent() }}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
{% endblock %}

{% block body %}
        <div id="cardBoard-app">
        </div>
{% endblock %}

{% block javascripts %}

  {{ parent() }}
  </script>
  <script>
    window.ACTEUR_APP_PROPS = {{acteursAppProps|json_encode|raw}}
  </script>
  <script src="{{ asset('build/partie_react.js') }}"></script>
{% endblock %}
