{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}

      <div class="js-acteur-table" data-acteurs="{{ acteursJson|e('html_attr') }}">
        <h2 class="js-custom_popover"
            data-toggle="popover"
            title="à propos"
            data-content="pour la République !"
        >
          Partie en cours
        </h2>

        <table class="table" >
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nb Individus</th>
                    <th>Actions</th>
                    <th>Pouvoirs de l'acteur</th>
                    <th>Désigné par</th>
                    <th>Force</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <br>
        <!-- Appel de la modal d'ajout -->
        <button type="button" class="btn btn-primary btn-add-acteur" data-toggle="modal" data-target="#ajoutActeurModal">
          Ajouter un acteur
        </button>

        <br>

        {{ include('partie/_modal.html.twig') }}
      </div>
{% endblock %}

{% block javascripts %}

  {{ parent() }}
  <script src="{{ asset('build/acteur.js') }}"></script>
  <script>

      $(document).ready(function(){
        $('.js-custom-popover').popover({
          trigger: 'hover',
          placement:'left'
        });
      });

  </script>

{% endblock %}
