{% extends 'base.html.twig' %}

{% block title %}Votre profile{% endblock %}

{% block body %}
  <div class="user">
    <h2 class="ui header centered">Votre profil</h2>
    <div class="ui centered card">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="image">
            {% if user.image is not null %}
              <img src="{{ vich_uploader_asset(user.image, 'imageFile') }}">
            {% endif %}
        </div>
        <div class="content">
          <a class="center aligned header">
            {{ app.user.username }}
          </a>
        </div>
        {% endif %}
        <div class="extra content">
          <a href="{{ path('update_profile') }}">
            <span class="right floated cogs">
              <i class="cogs icon"></i>
              Modifier le profil
            </span>
          </a>
        </div>
    </div>
  </div>
{% endblock %}
